.receta {
  font-size: 110px;
  text-align: center;
  margin-top: 7%;
  font-weight: bold;
}

.gusto {
  font-size: 60px;
  text-align: center;
}

.links {
  font-size: 50px;
  text-align: center;
}

.brown {
  background-color: #dfbd8a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.yellow {
  background-color: orange;
}

#home {
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#ljpg {
  width: 450px;
  height: 300x;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  font-size: 24px;
  font-family: cursive;
  text-align: center;
}

.ingr {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 35px;
}

#ingredients {
  text-align: left;
}

ul {
  display: inline-block;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.steps {
  text-align: left;
  margin-left: 40px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#lst {
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}
